---
import type { CollectionEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Card from "@components/Card";
import { SITE } from "@config";

export interface Props {
  chapters: CollectionEntry<"total-typescript-book">[];
}

const { chapters } = Astro.props;
---

<Layout title={`${SITE.title}`}>
  <Header activeNav="chapters" />
  <Main
    pageTitle="Chapters"
    pageDesc="All the chapters of the Total TypeScript book."
  >
    <ul>
      {
        chapters.map(({ data, slug }) => (
          <Card href={`/chapters/${slug}/`} frontmatter={data} />
        ))
      }
    </ul>
  </Main>

  <Footer noMarginTop={true} />
</Layout>
